@* 
@{

}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LibraryManagement.Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="List">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="memberDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
                        <div class="dropdown-menu" aria-labelledby="memberDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Member" asp-action="Add">Add Member</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Member" asp-action="List">Show All Members</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="bookDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
                        <div class="dropdown-menu" aria-labelledby="bookDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Book" asp-action="Add">Add Book</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Book" asp-action="List">Show All Books</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
 *@