@{
    ViewData["Title"] = "Sign In";
}

@model LibraryManagement.Web.Models.AddMemberViewModel

<div class="container mt-5 text-center">
    <h1 class="display-4">Sign In</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-left">

            <form asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mt-3">
                    <label class="form-label" for="email">Email</label>
                    <input asp-for="Email" id="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mt-3">
                    <label class="form-label" for="password">Password</label>
                    <input asp-for="Password" type="password" id="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                @if (ViewBag.LoginError != null)
                {
                    <div class="alert alert-danger mt-3">@ViewBag.LoginError</div>
                }

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

            <div class="mt-3">
                <a href="/Home/LibrarianLogin" class="btn btn-link">Librarian Login</a>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
