@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 text-center">
    <h1 class="display-4">Signin</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-left">

            <div class="mt-3">
                <label class="form-label" for="email">Email</label>
                <input type="text" id="email" class="form-control" />
            </div>

            <div class="mt-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" class="form-control" />
            </div>
        </div>
    </div>
</div>