
@{
}

@model LibraryManagement.Web.Models.DashboardViewModel
@*The Html Code to the view of Dashboard of Librarian to view 
    Most Available Genre,Most Checked-Out Genre,Number of Active Members
*@

<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Most Available Genre -->
        <div class="col-md-4 mb-4">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Most Available Genre</h5>
                    <p class="card-text">Genre: <strong>@Model.MostAvailableGenre</strong></p>
                </div>
            </div>
        </div>

        <!-- Most Sold Genre -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Most Checked-Out Genre</h5>
                    <p class="card-text">Genre: <strong>@Model.MostSoldGenre</strong></p>
                </div>
            </div>
        </div>

        <!-- Number of Active Members -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of Active Members</h5>
                    <p class="card-text"><strong>@Model.NumberOfActiveMembers</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>